{% extends 'cafeteria/inventario/base_inventario.html' %}
{% import 'macro.html' as mc %}

{% block script %}
{{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/14.0.1/math.min.js"></script>
<script src="{{ url_for('static', filename='js/inventario/articulo.js') }}"></script>
{% endblock %}

{% block title %}ARTICULO - {{ articulo.nombre }}{% endblock %}


{% block content %}
<h2><b>ARTICULO: </b> {{articulo.nombre}} </h2>
<div class="campo">
  {{ mc.label_select('article-type','Tipo articulo', tipo_articulos, selected=articulo.tipo_articulo.id) }}
</div>
<div class="campo">
  {{ mc.label_input('unit', 'Unidad', value=articulo.unidad, maxlength="2", size="4") }}
</div>
<div class="campo">
  {{ mc.label_input('cost-per-unit','Costo por unidad', value=mc.format_number(articulo.costo_unitario)) }}
</div>
<br>
<div class="campo">
  {{ mc.label_input('present-quantity', 'Cantidad Actual', value=mc.format_number(articulo.cantidad_actual)) }}
</div>
<div class="campo">
  {{ mc.label_input('min', 'Minimo', value=mc.format_number(articulo.minimo)) }}
</div>
<div class="campo">
  {{ mc.label_input('max', 'Maximo', value=mc.format_number(articulo.maximo)) }}
</div>
<div class="campo">
  <!-- Casi lo logro, hacer en label_input() todo esto, pasando como parametro checked y checbox -->
  {{ mc.label("Activo?", for="status") }}
  {{ mc.input(mc.checked(articulo.status), id="status", type="checkbox", name="status", autocomplete="off", 
      url=url_for('inventario.cambiar_status', id_articulo=articulo.id) )}}
</div>
<h2>Se usa en:</h2>
<ul>
  {% for p in articulo.receta -%}
  <li>
    <a href="{{ url_for('productos.producto', gtin=p.producto.gtin ) }}">
      {{ p.producto.nombre }} <i>{{ p.producto.categoria.nombre }} {{ p.producto.tipo_producto.nombre }}</i>
    </a>
  </li>
  {%- endfor %}
</ul>

<div class="params">
  <button id="update" url="{{ url_for('inventario.update_articulo', id_articulo=articulo.id)}}">Actualizar</button>
  <br>

  <button id="delete" url="{{ url_for('inventario.delete_articulo', id_articulo=articulo.id)}}">Eliminar</button>

</div>

{% endblock %}