{% extends 'cafeteria/inventario/base_inventario.html' %}
{% import 'macro.html' as mc %}

{% block script -%}
<script type="text/javascript"	src="{{ url_for('static', filename='js/inventario.js') }}"></script>
{%- endblock %}


{% block nav %}
<div class="toolbar">
  
  <div class="dropdown">
    <button id="dropdown-holder">
      <img src="../../static/img/icons/add.svg" alt="Nuevo producto">
      <p class="tag">Nuevo artículo</p>
    </button>
    <div id="dropdown-content" class="dropdown-content">
      <h1>Nuevo Artículo</h1>
      <div class="campo">
	{{ mc.label_input("Nombre") }}
      </div>
      <div class="campo">
	{{ mc.label_input("Cantidad Actual") }}
      </div>
      <div class="campo">
	{{ mc.label_input("Unidad", maxlength="2", size="4") }}
      </div>
      <div class="campo">
	{{ mc.label_input("Costo por unidad") }}
      </div>
      <div class="campo">
	{{ mc.label_input("Minimo", type="number", min="1", value="1") }}
      </div>
      <div class="campo">
	{{ mc.label_input("Maximo", type="number", min="1") }}
	<p>(Opcional)</p>
      </div>
      {{ mc.button("Añadir nuevo articulo", id="create-article-button") }}
    </div>
  </div>

{% endblock %}

{% block content %}
<h2> Articulos en inventario </h2>
<div class="container">

  <table>
    <tr>
      <th> ID </th>
      <th> Nombre </th>
      <th> Costo unitario</th>
      <th> Cantidad actual </th>
      <th> Unidad </th>
      <th> MIN </th>
      <th> MAX </th>
      <th> Status </th>
    </tr>
    {% for articulo in articulos %}
    <tr id={{ articulo.id }}>
      <td>
	<a href="{{ url_for('inventario.articulo',
		 id_articulo=articulo.id) }}"> {{ articulo.id }}
	</a>
      </td>
      <td> {{ articulo.nombre}} </td>
      <td>$ {{ mc.format_number(articulo.costo_unitario) }} </td>
      <td> {{ mc.format_number(articulo.cantidad_actual) }} </td>
      <td> {{ articulo.unidad }} </td>
      <td> {{ mc.format_number(articulo.minimo) }} </td>
      <td> {{ mc.format_number(articulo.maximo) }} </td>
      <td>
	<input type="checkbox" name="status" autocomplete="off"
	       {% if articulo.status -%}checked{%- endif -%}
	       >
      </td>
    </tr>
    
    {% endfor %}
  </table>

</div>

{% endblock %}


