{% extends 'cafeteria/base_dashboard.html' %}
{% import 'macro.html' as mc %}

{% block title %}Reportes{% endblock %}

{% block script -%}
<script type="text/javascript" src="{{ url_for('static', filename='js/modules/HTML.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/modules/Text.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/modules/Event.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/modules/Request.js') }}"></script>
{%- endblock %}

{% block nav %}
<nav class="navbar center">
    <ul>
        <li><a href="{{ url_for('reportes.main') }}">Resumen</a></li>
        <li><a href="{{ url_for('reportes.cortes') }}">Cortes</a></li>
        <li><a href="{{ url_for('reportes.main') }}">Productos</a></li>
        <li><a href="{{ url_for('reportes.main') }}">Gastos</a></li>
    </ul>
</nav>
{% endblock %}
