{% extends 'cafeteria/reportes/base_reportes.html' %}

{% block title %}Reportes productos{% endblock %}

{% block script -%}
{{ super() }}
<script src="{{ url_for('static', filename='js/reportes/resumen.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{%- endblock %}

{% block content %}

Filtros: nombre/gtin | categoria | solo activos | periodo | inversion |total inversion | ganancias
<h2>Ventas por producto</h2>
<!-- Total ventas + total ganancias realizadas -->

-- +------------------------------------+---------------+-----------+--------+-----------------+
-- | nombre                             | total_vendido | categoria | precio | total_ganancias |
-- +------------------------------------+---------------+-----------+--------+-----------------+
-- | Baguette De Pavo                   |            34 | Snack     |    120 |            4080 |
-- | Roles De Canela                    |            20 | Galletas  |     45 |             900 |
-- | Taro                               |            16 | Caliente  |     65 |            1040 |
-- | Cafe Expresso                      |            13 | Caliente  |     40 |             520 |
-- | Baguette De Lomo Canadiense Salami |            11 | Snack     |    300 |            3300 |
-- | Sandwich De Chorizo                |             9 | Snack     |    123 |            1107 |
-- | Mazapan                            |             7 | Frappé    |     80 |             560 |
-- | Lord Africano                      |             6 | Snack     |     80 |             480 |
-- | Café Expresso                      |             4 | Caliente  |     45 |             180 |
-- | Taro                               |             4 | Caliente  |     70 |             280 |
-- | Baguette De Lomo Canadiense Salami |             3 | Snack     |     70 |             210 |
-- | Galleta                            |             2 | Snack     |     10 |              20 |
-- | Pan De Ajo                         |             2 | Panes     |     45 |              90 |
-- | Fresas Con Crema                   |             1 | Postres   |     90 |              90 |
-- +------------------------------------+---------------+-----------+--------+-----------------+
<h2>Grafica</h2>

<h2>Insumos </h2>
<!-- Total insumos utilizados por cada venta hecha -->
 Columnas: nombre | costo | #veces usado | cantidad_usada | $ total | 

{% endblock %}