{% extends 'cafeteria/reportes/base_reportes.html' %}

{% block title %}Resumen{% endblock %}

{% block script -%}
{{ super() }}
<script src="{{ url_for('static', filename='js/reportes/resumen.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{%- endblock %}

{% block content %}
<div class="params">
    {{ mc.label_input('start-date', 'Fecha Inicio', type='date') }}
    {{ mc.label_input('end-date', 'Fecha final', type='date')}}
    {{ mc.button('Ver estadísticas', id='evaluate', url=url_for('reportes.utilidad'))}}
</div>

<div class="container">
</div>
<h2>Gráfica</h2>
<canvas id="the-canvas" width="80" height="40"></canvas>
<p><b>Nota:</b> La gráfica representa cada uno de los valores de arriba por día. El promedio es 
la suma de la utilidad neta desde la fecha de inicio.


Puedes activar/desactivar lineas que necesites </p>
{% endblock %}