<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <link rel="shortcut icon" href="{{url_for('static', filename='img/icons/cup_coffe.svg')}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  <!-- Titulo de la página -->
  <title>{%+ block title %}Chín Chín Tlacuachín{%- endblock %}</title>
  <!-- Scripts cargados -->
  {%+ block script %} {% endblock %}
</head>

<body>
  <script>0</script>
  <header>
    <!-- Titulos de la pagina -->
    {%+ block header %}
    {% endblock %}
    <hr>
  </header>
  <nav>
    <!-- Barra de navegación -->
    {%+ block nav %}
    {%- endblock %}
  </nav>
  <main>
    <!-- Contenido principal de la página -->
    <aside>
      {%+ block aside %}
      {%- endblock %}
    </aside>
    <section>
      <!-- Mensajes de error -->
      {%+ for category, message in get_flashed_messages(with_categories=True) -%}
      <div class="{{ category }}">
        {{ message }}
      </div>
      {%- endfor %}
    </section>
    {%+ block content %}
    {%- endblock %}
    <article>
      {%+ block article %}
      {% endblock %}
    </article>
    <div class="overlay" id="overlay">
      {%+ block overlay %}
      {%- endblock %}
    </div>
  </main>
  <footer>
    <!-- Pie de página -->
    {%+ block footer -%}
    {%- endblock %}
  </footer>
</body>

</html>