{% macro label(text) -%}
<label{% for k in kwargs.keys() %} {{ k }}="{{ kwargs[k] }}" {%- endfor %}>
  {{- text -}}
</label>
{%- endmacro %}

{% macro input() -%}
<input{% for k in kwargs.keys() %} {{ k }}="{{ kwargs[k] }}" {%- endfor %}>
{%- endmacro %}

{% macro button(text) -%}
<button{% for k in kwargs.keys() %} {{ k }}="{{ kwargs[k] }}" {%-
	  endfor -%}>
  {{- text -}}</button>
{%- endmacro %}

{% macro img(src) -%}
<img src="{{ src }}"
     {% for k in kwargs.keys() -%}
     {{ k }}="{{ kwargs[k] }}" 
     {%- endfor %}>
{%- endmacro %}


{% macro link(name, href) -%}
<a href="{{ href }}"
   {% for k in kwargs.keys() -%}
   {{ k }}="{{ kwargs[k] }}" 
   {%- endfor %}>
  {{ name }}
</a>
{%- endmacro %}

{% macro img_link(url_link, src, alt='') -%}
<div class="img-link">
  <a href="{{ url_link }}">
    <img src="{{ src }}" alt="{{ alt }}"
	 {% for k in kwargs.keys() -%}
	 {{ k }}="{{ kwargs[k] }}" 
	 {%- endfor %}>
  </a>
</div>
{%- endmacro %}

{# Macros para parejas de html #}
{% macro correo() -%}
  {{ label("Correo electrónico", for="correo") }} 
  {{ input(type="email", id="correo", name="correo",
  placeholder="usuario@correo.com", required="true") }}
{%- endmacro %}

{% macro contraseña() -%}
  {{ label("Contraseña", for="contraseña") }}
  {{ input(type="password", id="contraseña", name="contraseña",
  placeholder="patito001", required="true") }}
{%- endmacro %}

{% macro label_input(texto, type="text") -%}
  {{ label(texto, for=as_id(texto)) }}
  {{ input(type=type,
           id=as_id(texto),
           name=as_id(texto),
           required="true", 
           autocomplete="off")}}
{%- endmacro %}

{% macro label_select(texto, opciones=[]) -%}
{{ label(texto, for=as_id(texto))}}
<select id="{{ as_id(texto) }}" name="{{ as_id(texto) }}">
  {% for opcion in opciones %}
  <option value="{{ opcion.id }}">{{ opcion }}</option>
  {% endfor %}
</select>
{%- endmacro %}


{# Macros auxiliares #}
{% macro as_id(text) %}
{{- text.strip().lower().replace(' ', '_') -}}
{% endmacro %}




