{####################################### BASIC HTML ELEMENTS #######################################}

{% macro label(text) -%}
  <label {% for k in varargs -%} {{ k }} {% endfor -%}
  {% for k in kwargs.keys() %} {{ k }}="{{ kwargs[k] }}" {%- endfor %}>
    {{- text -}}
  </label>
{%- endmacro %}

{% macro input() -%}
  <input {% for k in varargs -%} {{ k }} {%- endfor -%}
  {% for k in kwargs.keys() %} {{ k }}="{{ kwargs[k] }}" {%- endfor %}>
{%- endmacro %}

{% macro button(text) -%}
  <button {% for k in varargs -%} {{ k }} {%- endfor -%}
  {% for k in kwargs.keys() %} {{ k }}="{{ kwargs[k] }}" {%- endfor -%}>
    {{- text -}}
  </button>
{%- endmacro %}

{% macro img(url_img) -%}
  <img src="{{ url_img }}" {% for k in varargs -%} {{ k }} {%- endfor -%}
  {% for k in kwargs.keys() -%} {{ k }}="{{ kwargs[k] }}" {%- endfor %}>
{%- endmacro %}

{% macro link(name, href) -%}
  <a href="{{ href }}" {% for k in varargs -%} {{ k }} {%- endfor -%}
  {% for k in kwargs.keys() -%} {{ k }}="{{ kwargs[k] }}" {%- endfor %}>
    {{- name -}}
  </a>
{%- endmacro %}

{% macro textarea(name) -%}
  <textarea {% for k in kwargs.keys() -%} {{ k }}="{{ kwargs[k] }}" {%- endfor %}>
    {{- name -}}
  </textarea>
{%- endmacro %}


{####################################### MACROS FUNCIONALES #######################################}

{% macro img_link(url_link, url_img) -%}
  <div class="img-link">
    <a href="{{ url_link }}">
      {{ img(url_img) }}
    </a>
  </div>
{%- endmacro %}


{% macro correo() -%}
  {{ label("Correo electrónico", for="correo") }} 
  {{ input(type="email", id="email", name="email", placeholder="usuario@correo.com", required="true") }}
{%- endmacro %}

{% macro contraseña() -%}
  {{ label("Contraseña", for="contraseña") }}
  {{ input(type="password", id="password", name="password", placeholder="patito001", required="true") }}
{%- endmacro %}

{% macro label_input(id, value, type="text") -%}
  {{ label(value, for=id) }}
  {{ input(type=type, id=id, name=id, required="true", autocomplete="off", *args, **kwargs)}}
{%- endmacro %}

{% macro label_textarea(id, value, default="") -%}
  {{ label(value, for=id) }}
  {{ textarea(default, id=id, *args, **kwargs) }}
{%- endmacro %}

{% macro label_select(id, value, options=[], selected=None) -%}
  {{ label(value, for=id)}}
  <select id="{{ id }}" name="{{ id }}" autocomplete="off">
    {%- for option in options +%}
    <option value="{{ option.id }}"{% if selected == option.id %} selected {% endif -%}>
      {{- option -}}
    </option>
    {%- endfor %}
  </select>
{%- endmacro %}


{% macro radio_button(group, options=[]) -%}
<div class="radiobutton">
  {% for option in options -%}
  <div class="option">
    {{ input(type="radio", id=option, name=group, value=option.id, *args, **kwargs)}}
    {{ label(option, for=option, class='unselectable')}}
  </div>
  {% endfor %}
</div>
{%- endmacro %}


{% macro popup(message, actions) -%}
<div class="popup">
  <p>{{ message }}</p>
  {% for b in actions -%}
    {{ button(b.name, id=b.id)}}
  {% endfor %}
</div>
{%- endmacro %}


{% macro table(columns=[], data=[]) -%}
<table>
  <tr>
    {% for column in columns -%}
    <th> {{ column }}</th>
    {%- endfor %}
  </tr>
  {% for count, row in enumerate(data) %}
  <tr>
    <td>{{ row[count] }}</td>
  </tr>
  {% endfor %}
</table>
{%- endmacro %}


{####################################### MACROS AUXILIARES #######################################}
{% macro as_id(text) %}
  {{- text.strip().lower().replace(' ', '-') -}}
{% endmacro %}

{% macro disabled(condition) %}
  {%- if condition %}disabled
  {%- endif -%}
{%- endmacro %}

{% macro checked(condition) %}
  {%- if condition %}checked
  {%- endif -%}
{%- endmacro %}

{% macro format_number(number) %}
  {%- if not number -%}No
  {%- elif number % 1 == 0 -%}
  {{- "{0:g}".format(number) -}} {% else %}
  {{- "{:.2f}".format(number) -}}
  {%- endif -%}
{% endmacro %}

{% macro format_date(date) %}
  <span>{{ date.strftime('%a %d %b %Y') }}</span>
  <br>
  <span>{{ date.strftime('%I:%M %p') }}</span>
{% endmacro %}


{% macro format_day(date) %}
{{- date.strftime('%Y-%m-%d') -}}
{% endmacro %}

{####################################### OTRAS MACROS #######################################}

{% macro create_item(producto={}) -%}
<div class="item" id="{{ producto.id }}">
  <div>
    <div>
      <div>{{ producto.gtin }}</div>
      <div>{{ producto.nombre }}</div>
    </div>
  </div>
  <div>
    <div class="campo">
      {{ label("Cantidad: ", for=producto.id) }}
      {{ input(type="number", id="c" ~ producto.id, required="true", autocomplete="off", min="1", max="99", value=producto.cantidad)}}
    </div>
    <div>
      <p id="p{{producto.id}}">Precio: ${{ format_number(producto.precio) }}</p>
    </div>
  </div>
  <div>
    <b>Subtotal:</b>
    <p id="s{{producto.id}}">$ {{ format_number(producto.subtotal) }}</p>
  </div>
  <div>
    {{ button("Borrar", id="e" ~ producto.id)}}
  </div>
</div>
{%- endmacro %}
