{% extends 'cafeteria/ventas/base_venta.html' %}
{% import 'macro.html' as mc %}

{% block header -%}
<!-- Otra cosa -->
{% endblock %}

{% block script -%}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/ventas/carrito.js') }}"></script>
{%- endblock %}


{% block content %}
<!-- Carrito de compras -->
<div class="params">
  <div>
    {{ mc.label_input("client", "Cliente") }}
  </div>
  <div class="campo">
    {{ mc.label_textarea("notes", "Notas", default="Sin notas", rows="1", cols="40") }}
  </div>
  
  {{ mc.button("Nueva venta...", id="new-venta", href=url_for('ventas.shopcar')) }}
</div>

<div class="params">
  <div class="campo">
    {{ mc.label_input("gtin-code", "Código GTIN") }}
    <div id="suggestions" url="{{ url_for('ventas.get_gtins', pseudogtin='')}}" style="display: none;">
      <ul id="suggestions-list">
        <!-- Aquí se muestran las sugerencias de las búsquedas -->
      </ul>
    </div>
  </div>

  <div class="campo">
    {{ mc.label_input("quantity", "Cantidad", type="number", min="1", value="1") }}
  </div>
  <div class="campo">
    {{ mc.button("Agregar", id="add-cart") }}
  </div>
</div>


<div id="cart" class="cart" url="{{ url_for('ventas.get_item_layout', gtin='', cantidad='1')}}">
  <!-- Aqui irán los productos agregados SIN agregar a la bdd -->
</div>

<div class="params">
  <div class="campo">
    {{ mc.label_input("tip", "Propina", value="0", size="4px") }}
  </div>
  <div class="campo">
    {{ mc.label_input("total", "Total", value="0", disabled="", size="6px") }}
  </div>
  <div id="payments" class="campo">
    {{ mc.radio_button("payments", tipo_pagos , autocomplete="off", requested="true") }}
  </div>
  <div class="campo">
    {{ mc.button("Realizar compra", id="buy-cart", url= url_for('ventas.create_venta')) }}
  </div>
</div>

<div style="text-align: center;">
  <h4><i>Nota</i>: Revisa que los productos a comprar sean correctos en
    cantidad y descripcion.
  </h4>
  <p>
    {{ mc.link("Salir", url_for('ventas.main')) }}
  </p>
</div>
{% endblock %}