{% extends 'cafeteria/ventas/base_venta.html' %}
{% import 'macro.html' as mc %}

{% block script -%}
<script type="text/javascript"	src="{{ url_for('static', filename='js/carrito.js') }}"></script>
{%- endblock %}


{% block content %}
<!-- Carrito de compras -->
<div>
  <button id="nueva-venta"> Nueva venta </button>
</div>
<div class="center">
  {{ mc.label_input("Cliente") }}
</div>

<div class="params">
  <div class="campo">
    <label for="codigo_gtin">Codigo GTIN</label>
    <div>
      {{ mc.input(id="codigo_gtin", name="codigo_gtin",
      required="true", autocomplete="off") }}
      <ul id="suggestions">
	<!-- Aquí se muestran las sugerencias de las búsquedas -->
      </ul>
    </div>
   </div>
  
  
  <div class="campo">
    {{ mc.label_input("Cantidad", type="number", min="1", value="1") }}
  </div>
  <div class="option">
    {{ mc.button("Agregar", id="agregar") }}
  </div>
</div>
<div id="cart" class="cart">
  <!-- Aqui irán los productos agregados SIN agregar a la bdd -->
</div>

<div class="params">
  <div class="campo">
    {{ mc.label_input("Total", value="0", disabled="") }}
  </div>
  <div class="campo">
    {{ mc.label_input("Propina", value="0") }}
  </div>
  <div class="campo">
    <label for="notas">Notas</label>
    <textarea id="notas" autocomplete="off"></textarea>
  </div>
  <div>
    <input type="submit" value="Comprar" id="comprar">
    </div>
</div>

<div class="center">
<p><i>Nota</i>: Revisa que los productos a comprar sean correctos en
  cantidad y descripcion.</p>
</div>
{% endblock %}
