{% extends 'cafeteria/ventas/base_venta.html' %}
{% import 'macro.html' as mc %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/ventas/referencia.js') }}"></script>
{% endblock %}

{% block title %}Venta #{{venta.referencia}}{% endblock %}


{% block content %}
<div id="sale-data" ref="{{ venta.referencia }}" url="{{ url_for('ventas.main') }}">
  <h2> Venta #{{venta.referencia}} </h2>
  <p>{{ mc.label_input('client', 'Cliente: ', value=venta.cliente) }}</p>
  <div class="columns">
    <div class="col">
      <h2>Productos:</h2>
      <ul>
        {% for transaccion in venta.transacciones -%}
        <li>
          {{transaccion.cantidad}}x {{ transaccion.producto.nombre }} (${{transaccion.producto.precio}})
        </li>
        {%- endfor %}
      </ul>
      <hr>
      <h2>Subtotal: {{venta.total}}</h2>
    </div>
    <hr>
    <div class="col">
      <h2>Informacion</h2>
      <div>
        {{mc.label_input('tip', 'Propina:', value=mc.format_number(venta.propina)) }}
      </div>
      <p>
        {{ mc.label_select('payment-type', 'Tipo de pago', tipo_pagos, selected=venta.id_tipo_pago) }}
      </p>
      {{ mc.label_textarea('notes', 'Notas', default=venta.notas) }}
      <div>
        {{ mc.button('Imprimir ticket', id='print-ticket', url=url_for('ventas.print_ticket'))}}
      </div>
    </div>
  </div>
  
  <h3>{{ mc.format_date(venta.fecha) }} </h3> 
  <br>

</div>

<div class="params">
  {{ mc.button("Guardar", id="update") }}
  {{ mc.button("Eliminar", id="delete") }}
</div>


{% endblock %}

{%+ block overlay %}
{{ mc.popup("¿Quieres imprimir factura?", 
    [{'name': "Sí", 'id': "yes"}, 
    {'name': "No", 'id': "no"}, 
    {'name': "Cancelar", 'id': "cancel"}]) }}
{%- endblock %}

