{% extends 'cafeteria/ventas/base_venta.html' %}
{% import 'macro.html' as mc %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/ventas/referencia.js') }}"></script>
{% endblock %}

{% block title %}Venta #{{venta.referencia}}{% endblock %}


{% block content %}
<div id="sale-data" ref="{{ venta.referencia }}" url="{{ url_for('ventas.main') }}">
  <h1> Venta #{{venta.referencia}} </h1>
  <p>{{ mc.label_input('client', 'Cliente: ', value=venta.cliente) }}</p>
  <h2>Productos:</h2>
  <ul>
    {% for transaccion in venta.transacciones -%}
    <li>
      {{transaccion.cantidad}}x {{ transaccion.producto.nombre }} (${{transaccion.producto.precio}})
    </li>
    {%- endfor %}
  </ul>
  
  <hr>
  <h2>Total: {{venta.total}}</h2>
  <h3>Tipo de pago: {{ venta.tipo_pago.nombre }}</h3>
  {{mc.label_input('tip', 'Propina:', value=venta.propina) }}
  <h3>Fecha: {{ mc.format_date(venta.fecha) }} </h3> 
  <br>
  {{ mc.label_textarea('notes', 'Notas', default=venta.notas) }}

</div>

<div class="params">
  {{ mc.button("Actualizar", id="update") }}
  {{ mc.button("Eliminar", id="delete") }}
</div>


{% endblock %}

{%+ block overlay %}
{{ mc.popup("¿Seguro que quiere eliminar esta venta? No hay vuelta atrás.", 
    [{'name': "Sí", 'id': "yes"}, 
    {'name': "No", 'id': "no"}]) }}
{%- endblock %}


