{% extends 'cafeteria/ventas/base_venta.html' %}
{% import 'macro.html' as mc %}

{% block script %}
{{ super() }}
{% endblock %}


{% block content %}
<h2>Ventas recientes</h2>
<div class="container">
    <table>
        <tr>
            <th> ID </th>
            <th> Productos </th>
            <th> Tipo Pago</th>
            <th> Total </th>
            <th> Fecha </th>
        </tr>
        {% for venta in ventas %}
        <tr id={{ venta.referencia }}>
            <td> <a href=" {{ url_for('ventas.referencia', referencia=venta.referencia) }}">{{venta.referencia}}</a>
            </td>
            <td>
                <ul>
                    {% for transaccion in venta.transacciones -%}
                    <li>
                        {{transaccion.cantidad}}x {{ transaccion.producto.nombre }} (${{transaccion.producto.precio}})
                    </li>
                    {%- endfor %}
                </ul>
            </td>
            <td> {{ mc.format_str(venta.tipo_pago.nombre) }} </td>
            <td>${{ venta.total }} </td>
            <td>{{ mc.format_date(venta.fecha) }} </td>
        </tr>

        {% endfor %}
    </table>
</div>
<div class="columns center">
    <div class="col">
        {% if page > 1 %}
        <a href="{{ url_for('ventas.main', page=page-1) }}">Anterior</a>
        {% endif %}
    </div>
    <div class="col">
        {% if page < total %}
        <a href="{{ url_for('ventas.main', page=page+1) }}">Siguiente</a>
        {% endif %}
    </div>

</div>

{% endblock %}


