{% extends 'cafeteria/productos/base_productos.html' %}
{% import 'macro.html' as mc %}

{% block script -%}
{{ super() }}
{%- endblock %}


{% block nav %}
<div class="toolbar">

  <div class="dropdown">
    <button id="dropdown-holder">
      <img src="{{ url_for('static', filename='img/icons/add.svg') }}" alt="Nuevo producto">
      <p class="tag">Nuevo producto</p>
    </button>
    <div id="dropdown-content" class="dropdown-content">
      <h2>Crear producto</h2>
      <div class="campo">
        {{ mc.label_input(id="name", value="Nombre") }}
      </div>

      <div class="mini-form">
        <div class="campo">
          {{ mc.label_select("category", "Categoria", categorias) }}
        </div>
        {{ mc.button("Crear nueva categoria...", id="create-new-category-button")}}
        <div id="category-form">
          <div class="campo">
            {{ mc.label_input("new-category", "Nueva categoria") }}
            {{ mc.button("Crear categoria", id="create-category-button") }}
          </div>
        </div>
      </div>

      <div class="mini-form">
        <div class="campo">
          {{ mc.label_select("product-type", "Tipo de producto", tipo_productos) }}
        </div>
        {{ mc.button("Crear nuevo tipo de producto", id="create-new-product-type-button")}}
        <div id="product-type-form">
          <div class="campo">
            {{ mc.label_input("new-product-type", "Nuevo tipo de producto") }}
            {{ mc.button("Crear tipo", id="create-product-type-button") }}
          </div>
        </div>
      </div>

      <div class="campo">
        {{ mc.label_input("price", "Precio") }}
      </div>
      <div class="campo">
        {{ mc.label_input("gtin", "GTIN") }}
      </div>
      {{ mc.button("Añadir nuevo producto", id="create-product-button") }}
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<h2> Todos los productos </h2>
<div class="container">

  <table>
    <tr>
      <th> Código </th>
      <th> Nombre </th>
      <th> Categoria </th>
      <th> Tipo Producto</th>
      <th> Precio </th>
      <th> Status </th>
    </tr>
    {% for producto in productos %}
    <tr id="{{ producto.gtin }}">
      <td>
        {{ mc.link(producto.gtin, url_for('productos.producto', gtin=producto.gtin)) }}
      </td>
      <td> {{ producto.nombre }} </td>
      <td> {{ producto.categoria.nombre }} </td>
      <td> {{ producto.tipo_producto.nombre }} </td>
      <td>$ {{ mc.format_number(producto.precio) }} </td>
      <td>
        <input type="checkbox" name="status" autocomplete="off" {% if producto.status -%}checked{%- endif -%}>
      </td>
    </tr>

    {% endfor %}
  </table>
</div>

{% endblock %}