{% extends 'cafeteria/productos/base_productos.html' %}
{% import 'macro.html' as mc %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/producto/producto.js') }}"></script>
{% endblock %}

{% block title %} {{producto.gtin}} {% endblock %}


{% block content %}
<div class="product" id="product" gtin="{{ producto.gtin }}" url-status="{{ url_for('productos.change_status', gtin='')}}"
  productID="{{ producto.id }}">

  <h2> {{producto.nombre}} ${{ producto.precio }}</h2>

  <div class="campo">
    <!-- No se puede actualizar porque no se respetaría un precio anterior. -->
    <!-- Tal vez se pueda actualizar el nombre/gtin sin afectar el id, pero entonces todo tendría q ser por id -->
    <!-- {{ mc.label_select('Categoria', categorias, selected=producto.categoria.id ) }} -->
    {{ mc.label_input("category", "Categoria", disabled="", value=producto.categoria) }}
  </div>
  <div class="campo">
    <!-- {{ mc.label_select('Tipo de producto', tipos_de_producto, selected=producto.tipo_producto.id ) }} -->
    {{ mc.label_input("product-type", "Tipo de producto", disabled="", value=producto.tipo_producto) }}
  </div>
  <div class="campo">
    {{ mc.label_input("price", "Precio", value=mc.format_number(producto.precio)) }}
  </div>
  <div class="campo">
    {{ mc.label("Inversión: ") }}
    <!-- precio.insumos.suma -->
     <p>Insumos utilizados</p>
     <ul>
      <!-- {% for insumo in insumos %}
      <li></li> NEXT MILESTONE
      {% endfor %}
     </ul> -->
  </div>

  <div class="campo">
    <!-- Casi lo logro, hacer en label_input() todo esto, pasando como parametro checked y checbox -->
    {{ mc.label("Activo?", for="status") }}
    {{ mc.input(mc.checked(producto.status), id="status", type="checkbox", name="status", autocomplete="off")}}
  </div>
  <br>
  <div class="params">
    {{ mc.button("Guardar", id="update", url=url_for('productos.update_producto'))}}
    {{ mc.button("Eliminar", mc.disabled(producto.transacciones != []) ,id="delete", url=url_for('productos.delete_producto', gtin=''))}}
  </div>
</div>
<p><b>Nota:</b> No se puede eliminar si ya existe una venta asociada a este producto. Solo se puede modificar el
  precio el cual creará un nuevo producto igual pero con precio diferente y desactivará este mismo</p>
{% endblock %}