/**
* ############################################################################
* LAYOUT
* ############################################################################
*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;

    /* body será de todo el tamaño */
    min-height: 100vh;
    /* Los contenidos serán en columna */
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
    justify-content: center;
    margin-bottom: 0;
}

hr {
    margin-top: 0;
}

main {
    margin: 20px;
    margin-top: 0;
    flex-grow: 1;
}

select {
    max-width: 15em;
    min-width: 5em;
}

input {
    max-width: 10em;
}

footer {
    width: 100%;
    background-color: #29261F;
    text-align: center;
    color: white;
}

section div{
    margin: 10px;
    background-color: beige;
    padding: 5px;
    text-align: center;
    font-style: italic;
    align-self: center;
}

.encabezado {
    background-color: white;
    display: flex;
    justify-content: space-evenly;
}

p.tag {
    margin: 0px;
    margin-bottom: 10px;
}

.encabezado div{
    text-align: center;
    padding-top: .5em;
    padding-bottom: .5em;
}

.toolbar {
    display: flex;
    justify-content: space-evenly;
    background-color: #EEEEEE;
}

.searchbox {
    display: flex;
}

.create {
    display: flex;
}


/**
* ############################################################################
* IMAGES
* ############################################################################
*/

.icon{
    text-align: center;
    cursor: pointer;
    margin: 0.1em;
}

.gallery {
    border: 1px solid;
    border-radius: 10px;
}

.gallery img{
    max-width: 200px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
}

.login {
    text-align: center;
}

/**
* ############################################################################
* INPUT
* ############################################################################
*/

.lightbutton{
    background-color: hsl(138, 32%, 74%);
    border-radius: 20px;
    text-decoration: none;
    padding: 15px;
    margin: 10px;
    cursor: pointer;
    color: black;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.lightbutton:hover {
    background-color: hsl(137, 26%, 69%)
}

.short-input{
    width: 5em;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
}

.popup{
    position: fixed;
    
	
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

/**
* ############################################################################
* NAVBAR
* ############################################################################
*/

.navbar{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #EEEEEE;
}

/**
* ############################################################################
* DROPDOWN
* ############################################################################
*/

.dropdown-holder {
    border: 1px solid red;
    /* cursor: pointer; */
}

.dropdown-holder.campo {
    display: block;
}

.dropdown-content {
    left: 20%;
    padding: 20px;
    display: none;
    position: absolute;
    background-color: #DDDDDD;
    box-shadow: 2px 2px 5px;
}

.dropdown:hover .dropdown-content{
    /* display: block; */
}

.mini-form {
    display: flex;
}

#category-form {
    display: none;
}

#product-type-form {
    display: none;
}


/**
* ############################################################################
* CARRITO
* ############################################################################
*/
#suggestions {
    /* display: none; */
    position: absolute;
    background-color: LightCyan;
    padding: 20px;
    list-style-type: none;
}

#suggestions li {
    margin: 10px;
    padding: 10px;
    text-align: left;
}

#suggestions li:hover {
    background-color: white;
}

.cart * {
    /* border: 1px solid red; */
}

/* Productos carro */
.item {
    /* width: 250px; */
    max-height: 250px;
    background-color: #c5f0d1;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}

/**
* ############################################################################
* TABLES
* ############################################################################
*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

th {
    border: 2px solid hsl(137, 20%, 60%);
    background-color: #c5f0d1;
    text-align: left;
    padding: 8px;
}

td  {
    border: 2px solid hsl(0, 0%, 80%);
    text-align: left;
    padding: 8px;
}

tr {
    font-size: small;
}

tr:nth-child(odd) {
    background-color: hsl(37, 91%, 83%);
}

tr:nth-child(even) {
    background-color: #FFFCE3;
}

/**
* ############################################################################
* PRODUCTO
* ############################################################################
*/

.productos{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 10px;
}

.producto {
    min-width: 9em;
    max-width: 19em;
    overflow: hidden;
    border: 1px solid;
    border-radius: 10px;
    text-align: left;
    font-size: small;
    cursor: pointer;
    background-color: hsl(137, 100%, 95%);
    display: flex;
    padding: 5px;
}

.producto.nombre {
    display: block;
    border-radius: 0;
    text-align: left;
    padding: 0;
    border: none;
}

.producto.nombre p{
    margin: 0;
}


.producto > div:hover {
    background-color: #c5f0d1;
}

.producto:hover .precios-producto{
    background-color: #c5f0d1;
    border-radius: 10px;
    display: block;
}

.precios-producto {
    position: absolute;
    border: 1px solid;
    padding: 10px;
    display: none;
    list-style-type: none;
    background-color: hsl(26, 86%, 83%);
}

.precio {
    display: flex;
    justify-content: space-between;
}

/**
* ############################################################################
* OTHERS
* ############################################################################
*/

form.card {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #c5f0d1;
    margin: auto;
    margin-bottom: 10px;
}

form .campo {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

form label{
    float: left;
    text-align: left;
    margin: 5px;
}

form > input{
    position: static;
    text-align: center;
    margin: 5px;
    margin-left: auto;
}

form textarea {
    height: 5em;
    resize: none;
}

.params {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    background-color: #c5f0d1;
    text-align: center;
}

.option{
    text-decoration: none;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px
}

.option img{
    max-width: 30px;
}

.option:hover {
    background-color: hsl(137, 100%, 95%);
}

.campos {
    background-color: #c5f0d1;
    display: flex;
    flex-direction: column;
    padding: 5px;
    text-align: left;
}

.campos a{
    text-align: center
}

.campo {
    /* display: flex; */
    margin: 5px;
}

.lista {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
}

.lista > li{
    display: flex;
    align-items: center;
}

.center {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.resumen {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-weight: bold;
    font-size: small;
    padding: 10px;
}

.inactive {
    /* when status = 0 */
    background-color: hsl(0, 0%, 80%);
}

.gain{
    color: green;
}

.lose{
    color: red;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    form {
        width: 100%;
        margin: 0;
    }

    main {
        margin: 0;
        padding: 0;
    }

    .center {
        padding: 10px;
        width: 100%;
    }

    table {
        margin-bottom: 10px;
        width: 100%;
    }

    th, tr, td {
        padding: 3px;
        font-size: smaller;
    }

    .params {
        background-color: #c5f0d1;
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
    }

    .campo {
        margin: 3px;
    }

    .item {
        margin: 5px;
        width: 70%;
    }

    .cart {
        min-height: 10px;
        justify-content: center;
    }
}
