{% extends 'cafeteria/gastos/base_gastos.html' %}
{% import 'macro.html' as mc %}

{% block script %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/gastos/reportes.js')}}"></script>
{% endblock %}


{% block content %}
<div class="params">
    <div class="campo">
        {{ mc.label_input('start-date', 'Día inicio', type='date', value=ini)}}
    </div>
    <div class="campo">
        {{ mc.label('Día final', for='end-date') }}
        {{ mc.input( mc.disabled(timespan in ['day', 'week', 'month']), type='date', id='end-date', name='date-end', 
            required="true", autocomplete="off", value=fin)}}   
    </div>
    <div class="campo">
        {{ mc.label_select('filter', 'Filtro', filter)}}
    </div>
    {{ mc.button('Consultar', id='get-data', url=url_for('gastos.fecha'), period=timespan)}}

</div>
<div class="container">

</div>

<p>Gastos por {{timespan }}. Para semana, se cuentan los siguientes 7 días después del día inicio. Para el mes
    se cuentan los siguientes 30 días después del día de inicio. Personalizado requiere del rango específico.
    La suma total de gastos se encuentra hasta abajo de la tabla. Se puede filtrar por tipo de gasto.
</p>
{% endblock %}


