{% extends 'base.html' %}

{% block title -%}Dashboard{%- endblock %}

{% block header %}
<div class="encabezado">
  <div class="icon">
    <a href="{{ url_for('dashboard.main' ) }}">
      <img src="../../static/img/icons/home.svg" alt="Home">
      <p class="tag">Inicio</p>
    </a>
  </div>
  <div class="icon">
    <a href="{{ url_for('ventas.main' ) }}">
      <img src="../../static/img/icons/cost.svg" alt="Ventas">
      <p class="tag">Ventas</p>
    </a>
  </div>
  <!-- <div class="icon"> -->
  <!--   <a href="{{ url_for('dashboard.main' ) }}"> -->
  <!--     <img src="../../static/img/icons/group.svg" alt="Clientes"> -->
  <!--     <p class="tag">Clientes</p> -->
  <!--   </a> -->
  <!-- </div> -->
  <div class="icon">
    <a href="{{ url_for('inventario.main' ) }}">
      <img src="../../static/img/icons/apple.svg" alt="Inventario">
      <p class="tag">Inventario</p>
    </a>
  </div>
  <div class="icon">
    <a href="{{ url_for('productos.main' ) }}">
      <img src="../../static/img/icons/fastfood.svg" alt="Productos">
      <p class="tag">Productos</p>
    </a>
  </div>
  <!-- <div class="icon"> -->
  <!--   <a href="{{ url_for('dashboard.main' ) }}"> -->
  <!--     <img src="../../static/img/icons/menu.svg" alt="Inventario"> -->
  <!--     <p class="tag">Inventario</p> -->
  <!--   </a> -->
  <!-- </div> -->
  <div class="icon">
    <a href="{{ url_for('gastos.main' ) }}">
      <img src="../../static/img/icons/cash.svg" alt="Gastos">
      <p class="tag">Gastos</p>
    </a>
  </div>
  <!-- <div class="icon"> -->
    <!--   <a href="{{ url_for('dashboard.main' ) }}"> -->
      <!--     <img src="../../static/img/icons/settings.svg" alt="Configuracion"> -->
      <!--     <p class="tag">Configuración</p> -->
      <!--   </a> -->
    <!-- </div> -->
  
  <!-- <div class="icon"> -->
    <!--   <a href="{{ url_for('dashboard.main' ) }}"> -->
      <!--     <img src="../../static/img/icons/paper.svg" alt="Facturas"> -->
      <!--     <p class="tag">Facturas</p> -->
      <!--   </a> -->
    <!-- </div> -->
  <!-- <div class="icon"> -->
  <!--   <a href="{{ url_for('dashboard.main' ) }}"> -->
  <!--     <img src="../../static/img/icons/scissors.svg" alt="Corte"> -->
  <!--     <p class="tag">Corte</p> -->
  <!--   </a> -->
  <!-- </div>  -->
  <!-- <div class="icon"> -->
  <!--   <a href="{{ url_for('dashboard.main' ) }}"> -->
  <!--     <img src="../../static/img/icons/chart.svg" alt="Reportes"> -->
  <!--     <p class="tag">Reportes</p> -->
  <!--   </a> -->
    <!-- </div> -->
  <div class="icon">
    <a href="{{ url_for('dashboard.main' ) }}">
      <img src="../../static/img/icons/person.svg" alt="Perfil">
      <p class="tag">Perfil</p>
    </a>
  </div>
</div>
{% endblock %}
